html,body{
    width: 100%;
    height: 100%;
}

body{
     background-image: url('../images/dracula_castle.jpg');
      background-size:cover;
      background-repeat:no-repeat;
    /*  background-position:center;*/
  }
  
.formulario-container{
  width: 70%;
  height:70%;
  border-radius:9px;
 /* margin-top:20px*/

}